.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.image {
  width: 50%;
  height: auto;
  display: flex;

  transition: opacity 0.3s ease;
}

.title {
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;

  color: #333;
  padding: 10px;
  color: #4f4a4a;
}
