.header {
  background-color: #c6b5b1;
  border-radius: 8px;
  width: 1280px;
}

.link {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: rgba(16, 14, 14, 0.781);
  text-transform: uppercase;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.active {
  color: rgb(194, 65, 40);
}

.nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.navList {
  display: flex;
  list-style: none;
  gap: 20px;
}
